//Homebody---------
.homebody {
  display: flex;
}

//Sidebar---------
.sidebar_container {
  background-color: #1976d2;
  flex: 30%;
  height: calc(100vh - 64px);
  max-width: 250px;
  color: white;

  h3 {
    font-size: 16px;
    margin-left: 6px;
  }
}

.sidebar_channel {
  display: flex;
  padding-left: 16px;
  border-top: 1px solid white;
  padding: 16px;
  cursor: pointer;
  &:hover {
    background-color: skyblue;
  }

  .message_icon {
    margin-left: 4px;
  }
}

.addchannels_container {
  display: flex;
  padding: 14px;
  cursor: pointer;
  &:hover {
    background-color: skyblue;
  }

  .add_icon {
    width: 24px;
    height: 24px;
    margin-left: 6px;
  }
}

//channel

.channel_container {
  display: flex;
  padding: 8px 0;
  cursor: pointer;

  &:hover {
    background: skyblue;
  }

  span {
    padding: 15px;
  }

  .channel_icon {
    position: relative;
    top: 8px;
  }

  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

//appbody--------

.appbody_container {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  flex: 70%;
  flex-grow: 1;
  height: calc(100vh - 64px);

  width: 100%;
}

.header_container {
  position: relative;
  position: fixed;
  width: 100%;
  top: 64px;
  z-index: 9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .header_icon {
    position: relative;
    top: 8px;
    font-size: 36px;
    margin-left: 12px;
    margin-right: 16px;
  }

  span {
    font-size: 16px;
    margin-left: 12px;
    margin-right: 16px;
  }

  h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
  }
}

.messages_wrapper {
  position: relative;
  top: 70px;
  overflow-y: scroll;
  height: calc(100vh - 250px);
  z-index: 5;
}

//MessageHome------

.message_container {
  padding: 16px;
  padding-bottom: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  .message_info {
    display: flex;
  }

  .avatar {
    height: 46px;
    width: 46px;
    border-radius: 8px;
    cursor: pointer;
  }

  span {
    color: gray;
    font-weight: 300;
    margin-left: 4px;
    font-size: 10px;
  }

  .img {
    margin-top: 8px;
    margin-left: 50px;
    width: 300px;
    height: 300px;
  }

  .edit_textField {
    display: block;
    white-space: pre-wrap;
    width: 95%;
    overflow-wrap: anywhere;
    margin-left: 50px;
    font-weight: 350;
    background-color: rgba(27, 196, 125, 0.1);

    a {
      color: rgb(93, 134, 240);
    }
  }

  .cancel_button {
    margin-left: 50px;
    margin-top: 12px;
    background-color: rgba(25, 118, 210, 0.8);
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    margin-right: 24px;
    cursor: pointer;
    color: white;
  }

  .update_button {
    margin-top: 12px;
    background-color: #4b9047;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
  }

  .emojiIcon_button {
    position: relative;
    top: 12px;
    left: 12px;
    background-color: white;
    border-radius: 8px;
    border: none;
    padding: 0;
  }

  .emojiIcon {
    cursor: pointer;
    width: 36px;
    height: 36px;
  }

  .message_text {
    display: block;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    margin-left: 50px;
    font-weight: 350;

    a {
      color: rgb(93, 134, 240);
    }
  }

  .sub_function_wrapper {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

    div:first-child {
      flex: 1;
      text-align: center;
    }

    div:last-child {
      flex: 1;
      text-align: center;
    }

    .message_icon {
      cursor: pointer;
      &:hover {
        color: rgb(52, 165, 240);
      }
    }

    span {
      position: relative;
      top: -8px;
      color: rgba(0, 0, 0, 0.7);
      font-size: 16px;
    }

    .like_icon {
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}

.emoji {
  position: absolute;
  z-index: 10;
  width: 280px;
  height: 320px;
  bottom: 120px;
  right: 20px;
}

.hidden {
  display: none;
  background-color: red;
}
