.grid_container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.users_container {
  height: 100vh;
  padding: 0;
  border-right: 1px solid;
  border-color: rgba(0, 0, 0, 0.5);
  max-width:400px;
}

.text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  padding: 8px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.no_conversation {
  height: 100vh;
}

.messages {
  height:calc(100vh - 60px);
  overflow-y: auto;
}