.message_wrapper {
  margin-top: 5px;
  padding: 0px 5px;
}

.message_wrapper img {
  width: 100%;
  border-radius: 10px;
}

.message_wrapper p {
  padding: 0px 10px 10px;
  display: inline-block;
  max-width: 30%;
  text-align: left;
  border-radius: 20px;
}

.message_wrapper small {
  display: inline-block;
  margin-top: 15px;
  opacity: 0.8;
}

.message_wrapper.own {
  text-align: right;
}

.me {
  background-color: #0084ff;
  color: white;
  margin:0;
}

.friend {
  background-color: #333;
  color: white;
  margin:0;
}

.small { 
  margin: 0;
}
