.container {
  cursor: pointer;
  &:hover {
    background-color:rgb(237, 232, 232)
  }
}
.box {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: rgb(255,255,253);
  border: 2px solid #000;
  box-shadow: 24px;
  border-radius: 8px;
  border:none;
  padding:24px 32px;
}

.avatar_container {
  margin:0;
}

.avatar {
  width: 60px;
  height: 60px;
  margin-right: 8px;
  text-align: center;
}

.title {
  font-family: Georgia, serif;
  letter-spacing: 4px;
}
.closeIcon {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor:pointer;
  border: 2px solid;
  border-radius:4px;
  border-color:rgb(182, 220, 249)
}
.typography {
  font-size:16px;
  font-family: Georgia, serif;
  letter-spacing: 2px;
&:first-child {
  margin-top:24px;
}
}

.message_button {
  margin-left: 80px;
}

.input {
  border: 1px solid;
  border-color:rgba(0,0,0,0.5);
  border-radius: 4px;
  padding: 8px;
}

.img_wrapper {
  display: flex;
  justify-content: center;
}

.image {
  position:relative;
  top: 12px;
  width: 100px;
  height: 100px;
}

.typograpphy_name {
  width: 30%;
  font-size: 16px;
  font-family: Georgia, serif;
  letter-spacing: 2px;
}
