.app_title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
  color: white;
  background: rgba(45, 140, 255, 0.6);
  padding: 16px 24px;
  border-radius: 16px;
  font-family: Lato, sans-serif;
  animation: 3s ease-in 1s infinite reverse both running slidein;
}

.form_wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("file:///home/bala/%E3%83%94%E3%82%AF%E3%83%81%E3%83%A3/desk-1220052_960_720.webp")
    no-repeat;
  height: 400px;
  width: 80%;
  object-fit: cover;
  background-size: cover;
  border-radius: 16px;

  h2 {
    display: relative;
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 100px;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.input_mail {
  background-color: white;
}

.input_password {
  background-color: white;
}

.button_wrapper {
  text-align: center;
}

.button {
  background-color: white;
  padding: 10px 24px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.6);
  &:hover {
    border: none;
  }
}

.signin {
  position: absolute;
  top: 60%;
  left: 16%;
  padding: 8px 16px;
  margin-top: 10px;
  color: white;
  border-radius: 8px;
  background: rgba(45, 140, 255, 0.6);
}
